/* Global definitions */

html {
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.image-mobile {
  display: none;
}

/* shared definitions */

.courses h1, .thesis h1 {
  font-size: 32px;
  text-align: center;
  padding-bottom: 32px;
}

.banner-image, .information-main, .large {
  width: 60%;
}

.banner-image-container, .information-main-container {
  margin: 32px 24px;
}

.banner-image img, .information-main img {
  width: 100%;
  height: auto;
}

/* Header section */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 16px 24px;
}

.logo p {
  font-size: 32px;
  padding-left: 10px;
}

.logo p {
  font-weight: bold;
  font-family: sans-serif;
}

.logo p span {
  color: gray;
  font-weight: normal;
}

nav {
  display: flex;
  align-items: center;
}

nav .mobile {
  display: none;
}

nav span {
  font-size: 20px;
}

nav .separator {
  background-color: cyan;
  display: inline-block;
  width: 16px;
  height: 64px;
}
nav:last-child {
  padding-right: 24px;
}

/* banner section */

.banner {
  display: flex;
  background-color: lightgray;
}

.banner-content {
  margin: auto 0;
}

.banner-content h1 {
  padding: 10px 0;
}

.banner-content h2 {
  font-size: 24px;
  padding: 10px 0;
}

.button {
  background-color: gray;
  color: white;
  font-size: 20px;
  padding: 8px 0;
  text-align: center;
}

/* Information section */

.information {
  display: flex;
}

.information-main-container h1 {
  font-size: 32px;
  padding-top: 32px;
  padding-bottom: 24px;
}

.information-main-container p:last-child {
  padding: 32px 0;
}

.information-secondary {
  width: 40%;
}

.information-item:last-child {
  background-color: lightgray;
}

.information-item-container {
  padding: 16px;
  display: flex;
}

.information-item-container img {
  width: 35%;
}

.information-content {
  width: 65%;
}

.information-content-container {
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information-content-container h2 {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.information-content-container p {
  padding-bottom: 10px;
  line-height: 1.4;
}

.information-content-container p:last-child a {
  color: blue;
}

/* course section */

.courses {
  background-color: lightgray;
  padding: 32px 56px;
}

.course-list {
  display: flex;
}

.course {
  padding: 0 16px;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.course img {
  width: 100%;
  height: auto;
}

.course-content {
  padding: 10px 10px 24px 10px;
  background-color: white;
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 32px;
}

.course-content h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

.course-content p {
  padding: 10px 10px 10px 0;
}

/* thesis section */

.thesis {
  padding: 32px 0;
}

.thesis h1 {
  padding-bottom: 8px;
}

.thesis-content {
  display: flex;
}

.thesis-column {
  display: flex;
  flex-direction: column;
}

.thesis-column {
  padding: 24px;
}

.column-container video {
  width: 100%;
  height: auto;
}

.small {
  width: 40%;
  padding-left: 0;
}

.thesis-info:first-child {
  background-color: lightgray;
}

.thesis-info-container {
  padding: 16px;
  display: flex;
}

.image-container {
  width: 35%;
  flex-basis: 0;
  flex-grow: 1;
}

.image-container img {
  width: 100%;
  height: auto;
}

.thesis-content-container {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
}

.thesis-content-container h2 {
  font-weight: bold;
  font-size: 18px;
}

.thesis-content-container p {
  font-size: 12px;
  padding: 10px 0;
}

.column-container h2 {
  padding-top: 24px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
}

/* footer section */

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 48px 16px;
  border-top: 1px solid black;
}

/* Mobile Version */

@media only screen and (max-width: 850px) {
  /* header section */
  header .logo p {
    display: none;
  }

  nav .mobile {
    display: block;
  }

  header nav span {
    display: none;
  }

  /* banner section */
  .banner {
    flex-direction: column;
  }

  .banner-image {
    width: 100%;
  }

  .banner-image-container {
    margin: 0;
  }

  .banner-content h1 {
    padding: 32px 16px;
  }

  .banner-content h2 {
    padding: 0 16px 24px 16px;
  }

  .button {
    margin: 0 16px 24px 16px;
  }

  /* information section */
  .information-main {
    display: none;
  }

  .information-secondary {
    width: 100%;
  }

  .information-item-container {
    flex-direction: column;
    padding-bottom: 0;
  }

  .information-item-container img{
    width: 100%;
  }

  .image-desktop {
    display: none;
  }

  .image-mobile {
    display: block;
  }

  .information-content {
    width: 100%
  }

  .information-content-container {
    padding: 16px 16px 0 16px;
    justify-content: flex-start;
  }

  /* course section */

  .courses {
    background-color: white;
    padding: 32px 16px;
  }

  .course-list {
    display: block;
  }

  .course {
    padding: 0;
  }

  .course img {
    display: none;
  }

  .course-content {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    margin-bottom: 8px;
  }

  .course-content h2 {
    padding: 16px 16px 24px 16px;
    font-weight: normal;
  }

  .course-content p {
    display: none;
  }

  /* thesis section */

  .thesis-column {
    width: 100%;
  }

  .thesis-column .column-container h2 {
    display: none;
  }

  .thesis-column .column-container p {
    display: none;
  }

  .thesis-column.small {
    display: none;
  }

  /* footer section */
  footer {
    border: none;
  }

}
